.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  background: rgb(255, 255, 255);
}
.box__eCqOp {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px;
}
.box__eCqOp > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__eCqOp > :global(.__wab_flex-container) > *,
.box__eCqOp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__eCqOp {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButton__expanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton__expanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__fOn6D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.linkButton__dAcjp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__xLnTa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__y44Le:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__fl6Em:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___0Xuoi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__zDpFg {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.box__zDpFg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__zDpFg > :global(.__wab_flex-container) > *,
.box__zDpFg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.iconLink__gfvxn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gcUiN {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: BvIWiadI9Ebqq */;
  width: 18px;
  height: 18px;
}
.root .svg__gcUiN:hover {
  color: rgb(233, 156, 46) /* plasmic-token: lmLNpjQgFD9T5 */;
}
.iconLink__ildKv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nKkCk {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: BvIWiadI9Ebqq */;
  width: 18px;
  height: 18px;
}
.root .svg__nKkCk:hover {
  color: rgb(233, 156, 46);
}
.iconLink__t5VFw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kcVos {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: BvIWiadI9Ebqq */;
  width: 18px;
  height: 18px;
}
.root .svg__kcVos:hover {
  color: rgb(233, 156, 46) /* plasmic-token: lmLNpjQgFD9T5 */;
}
.box__l6Yoq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.linkButton__sJhLf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__xke9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__yCYw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__d7V1N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jp0Ji:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
